body {
  background-color: #D5D5D5;
  margin:0;
  padding:0;
  height:100%;
}

#header {
  background-color: #6d7993;
  text-align: center;
  margin-top: -15px;
  font-family: cursive;
}

#footer {

  clear: both;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  text-align: center;
}

#picture {
text-align: center;
}

a:hover {
  font-style: italic;
}

#content {
  min-height:100%;
  position:relative;
  font-size: 20px;
  margin: 10px 20px 10px 20px;
}

#github {
  max-width:45%;
  max-height:45%;
}

.list {
  color: #4682B4;
  font-weight: bold;
}
